*{
    margin:0;
    border:0;
}
#calculatormain{
    height:600px;
    width:500px;
    border-style: groove;
    border-color: black;
    border-block-width: 10px;
    border-radius: 10px;
    background-color: aqua;
    display:flexbox;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:30%;
}
#inputtype{
    height:50px;
    width:400px;
    margin:20px;
    justify-content: center;
    font-weight: bolder;
    font-size: large;
}
.buttons{
    height:90px;
    width:100px;
    background-color: whitesmoke;
    margin:10px;
    align-items: center;
}
.buttons:hover{
    background-color: rgb(233, 115, 115);
}

#headerdiv{
    height:50px;
    width:100%;
    border-style: groove;
    border-color: black;
    border-width: 10px;
    background-color: rgb(181, 249, 184);
    position:fixed;
    top:0;
    justify-content: center;
}
#border{
    height:50px;
    width:100%;
    border-style: groove;
    border-color: black;
    border-width: 10px;
    background-color: rgb(181, 249, 184);
    border-radius: 2px;
    position: fixed;
    bottom:0;

}
#marquee{
    font-weight: bolder;
    position: absolute;
    justify-content:center;
}